package ${package.Mapper}${extraPackageSuffix};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * <p>
 * $!{table.comment} Mapper Impl
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
##public class ${table.mapperName}Impl implements ${table.mapperName} {
public class ${table.mapperName}Impl {

}
